asgiref==3.2.7
cffi==1.14.0
cryptography==3.2
Django==3.1.6
django-rest-knox==4.1.0
djangorestframework==3.11.0
psycopg2==2.8.5
pycparser==2.20
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
django-cors-headers==3.2.1
djangorestframework-jwt==1.11.0
requests==2.23.0