{% extends 'base.html' %}

{% load static %}

{% block title %}Games List{% endblock %}

{% block content %}
    <ol>
        {% for game in games %}
            {% if game.cover %}
                <li><img src="{{ game.cover.url }}"></img>{{ game.name }}: {{ game.rating }}</li>
            {% else %}
                <li><img src="{% static 'img/placeholder.png' %}"></img>{{ game.name }}: {{ game.rating }}</li>
            {% endif %}
            <br>
        {% endfor %}
    </ol>
{% endblock %}