{% extends 'base.html' %}

{% load static %}

{% block title %}Games List{% endblock %}

{% block content %}
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form>
    <ol>
        {% for game in games %}
            {% if game.cover %}
                <li><img src="{{ game.cover.url }}"></img>
            {% else %}
                <li><img src="{% static 'img/placeholder.png' %}"></img>
            {% endif %}
            <a href="{% url 'game' game.id %}"> {{ game.name }}</a>: {{ game.aggregated_rating }}
            </li>
            <br>
        {% endfor %}
    </ol>
    <div class="pagination">
        <span>
            {% comment %} {% if games.has_next %}
                <a href="?page={{ games.next_page_number }}">next</a>
                {% endif %} {% endcomment %}
            <a href="{% url 'game_list' %}?page={{ page|add:1 }}">next</a>
            {% comment %} {% if games.has_previous %}
                <a href="?page={{ games.previous_page_number }}">previous</a>
            {% endif %} {% endcomment %}
        </span>
    </div>
{% endblock %}